<!-- Contenido del body -->

<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
      <div class="text-center">
        <p class="mb-0 text-body-secondary">Luis Felipe Rodriguez Moreno</p>
        <p class="mb-0 text-body-secondary">201821147</p>
        <p class="mb-0 text-body-secondary">Electiva Web</p>
        <p class="mb-0 text-body-secondary">2025</p>
      </div>
    </footer>
</div>

</body>
</html>